.App {
  text-align: center;
}
 form{
  display: inline-block;
  background-color: cyan;
 }
 form label{
  width: 120px;
  display: inline-block;
 }
 form div{
  margin: 10px;
 }
 img{
  width: 150px;
  height: 100px;
  object-fit: contain;
 }

 nav{
  display: flex;
  justify-content: space-evenly;
  background-color:yellowgreen;
  
 }
 a{
  text-decoration: none;
  
  font-size: 1.8rem;
 }